# App
NEXT_PUBLIC_SITE_URL=https://your-domain.com

# AI provider
OLLAMA_API_KEY=your_ollama_api_key

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_your_clerk_publishable_key
CLERK_SECRET_KEY=sk_test_your_clerk_secret_key
CLERK_FRONTEND_API_URL=https://verb-noun-00.clerk.accounts.dev
CLERK_JWT_ISSUER_DOMAIN=https://verb-noun-00.clerk.accounts.dev

# Convex
CONVEX_DEPLOYMENT=dev:your-deployment-name
NEXT_PUBLIC_CONVEX_URL=https://your-project-name.convex.cloud
NEXT_PUBLIC_CONVEX_SITE_URL=https://your-project-name.convex.site
